:host {
  display: block;
  overflow: visible;
  margin: 40px;
  text-align: center;
  button {
    background: #14ad03;
    color: #fff;
    border: 0;
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
  }
}
